.footer {
    text-align: center;
    white-space: nowrap;
	font-size: .75em;
}

.footer > .section-wrapper {
    padding: 2%;
    margin: 0;
    display: flex;
	justify-content: space-evenly;
	align-items: center;
    flex-wrap: wrap;
}

.footer p {
	margin: 0;
}

.footer__copyright {
    display: flex;
    flex-wrap: wrap;
}

.footer__copyright-message {
    white-space: normal;
}
