.collection {
	min-height: 200px;
	flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collection--selected {
	height: unset;
	flex-basis: 100%;
}

.collection--selected >
.col-model >
.col-card {
	display: flex;
}

.collection--selected >
.col-model >
.col-card >
.col-model-read {
	flex: 1;
}

@media (max-width: 500px) {

	.collection {
		flex-basis: 100%;
	}
}
