@import "../../../components-collin/styles/effects";
@import "../../../styles/shared/variables";

.collection {
	position: relative;
	flex-basis: 30%;
	align-self: stretch;
    display: flex;
    flex-direction: column;
	justify-content: center;
	
	& > .col-model {
		flex: 1;
		@include clickable($primary-color, 1px);
		
		& > .col-card {
			background-color: unset;
		}
	}
	
	&--selected {
		flex-basis: unset;
		min-width: 30%;
		
		& > .col-model {
			
			& > .col-card {
				flex-direction: row;
				
				& > .col-model-read {
					flex: 1;
				}
			}
		}
	}
}

@media (max-width: 500px) {

	.collection {
		flex-basis: 100%;
	}
}
