.Footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    white-space: nowrap;
}

.Footer > * {
    padding: 2%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: .75em;
}

.Footer > span > p {
    margin: 0;
}

.Footer > p:nth-child(2) {
    white-space: normal;
}
