
.social-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.social-link {
	margin: 5px;
	padding: 5px;
}

@media (max-width: 500px) {
    .social-links {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
}