@import "../../../styles/shared/variables";
@import "../../../components-collin/styles/effects";

.social-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.social-link {
	padding: 5px;

	@include clickable($primary-color);
}

@media (max-width: 500px) {
    .social-links {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
}