
.admin-login {
	position: relative;
	display: flex;
	
	&__button {
		cursor: pointer;
		margin: auto;
	}
	
	label {
		display: none;
	}
}

@media (max-width: 500px) {
	.admin-login {
		flex-direction: row;
	}
}
