@import "../../../styles/shared/variables";
@import "../../../components-collin/styles/effects";

.header {
	background-color: whitesmoke;
	height: 48px;
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	padding: 0 5px;
}

.hamburger-links {
	height: 48px;
	flex: 1;
    flex-direction: column;
	justify-content: center;
	
	&__content > .page-links {
		flex: 1;
	}
}

@media (max-width: 500px) {
	.header {
		flex-direction: column;
	}

	.hamburger-links {
		width: 100%;
	}
}
