@import "../../../styles/shared/variables";

.header {
	background-color: whitesmoke;
	height: 48px;
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	
	&__home-link {
		width: 48px;
		color: $primary-color;
		font-family: $primary-font;
		text-align: center;
	}
}

.hamburger-links {
	height: 48px;
	flex: 1;
    flex-direction: column;
	justify-content: center;
	
	&__content > .page-links {
		flex: 1;
	}
}

@media (max-width: 500px) {
	.header {
		flex-direction: column;
	
		&__home-link {
			width: 80%;
		}
	}

	.hamburger-links {
		width: 100%;
	}
}
