@import "../layout-child";
@import "../../../styles/shared/variables";

.header {
	@include header-footer;
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	
	&__home-link {
		width: $header-footer-height;
		color: $primary-color;
		font-family: $primary-font;
		text-align: center;

		&.clickable:hover {
			background-color: $secondary-color;
		}
	}
}

.hamburger-links,
.hamburger-links__content > .section-wrapper {
	flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 500px) {
	.header {
		flex-direction: column;
	
		&__home-link {
			width: 80%;
		}
	}

	.hamburger-links {
		width: 100%;
	}
}
