.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__home-link.clickable {
	width: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
}

@media (max-width: 500px) {
	.header {
		flex-direction: column;
	}

	.header__home-link.clickable {
		width: 80%;
	}

	.hamburger-links {
		width: 90%;
	}
}
