.col-model-read {
	flex: 1;
	align-self: stretch;
	display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
	
	& > .col-card {
		align-self: stretch;
		flex: auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 2px;

		span {
			text-decoration: underline;
		}
	}
}