.collections {
	flex: 1;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	
	& > .col-card {
		margin: auto;
	}

	& > .col-button {
		align-self: stretch;
		flex: 1;
	}
}
