@mixin clickable($color, $border-size) {
	.clickable {
		cursor: pointer;
		transition: border 300ms linear;
		border: solid transparent $border-size;
		
		&:hover {
			border: solid $color $border-size;
		}
	}
}

@mixin selectable($color, $size) {
	.selectable {
		cursor: pointer;
		transition: border-bottom 300ms linear;
		border-bottom: solid transparent $size;
		
		&:hover {
			border-bottom: solid $color $size;
		}

		&--selected {
			border-bottom: solid $color $size;
		}
	}
}
