.clickable {
	display: block;
	cursor: pointer;
}

.clickable:hover {
	background-color: lightgrey;
}

.selectable:hover {
	border-bottom: solid .5px black;
}

.selected {
    border-bottom: .5px solid black;
}