@import "../../../components-collin/styles/effects";
@import "../../../styles/shared/variables";

.hoop {
	position: relative;
	flex-basis: 25%;

	& > .col-model {
		@include clickable($primary-color, 1px);
		
		& > .col-card {
			background-color: unset;
		}

		&-read {
			flex-direction: column;
	
			.col-image {
				padding: 10px;
			}
		}
	}

	&--selected {
		height: unset;
		margin: auto;
		flex-basis: 50%;
		
		& > .col-model {
			width: 80%;
			margin: auto;

			& > .col-card
			  > .col-model-read {
				flex-direction: initial;
				
				.col-image {
					width: 75%;
				}
			}
		}
	}
}