.hoop {
	flex-basis: 50%;
}

.hoop--selected {
	height: unset;
	flex-basis: 100%;
}

.hoop--selected >
.col-model {
	width: 80%;
	margin: auto;
}

.hoop--selected
.col-model >
.col-card {
	width: unset;
	min-width: 20%;
}

.col-image {
	max-width: 100%;
}