.hoop {
	flex-basis: 25%;

	& > .col-model 
	  > .col-card 
	  > .col-model-read {
		flex-direction: column;
	}

	&--selected {
		height: unset;
		flex-basis: 100%;
		
		& > .col-model {
			width: 80%;
			margin: auto;

			& > .col-card {
				width: unset;
				min-width: 20%;

				& > .col-model-read {
					flex-direction: initial;

					.col-card:last-child {
						flex-basis: unset;
					}
				}
			}
		}
	}
}