.hamburger-links {
    display: none;
}

.hamburger-links > svg {
    transform: rotate(45deg);
    transition: transform .5s;
}

.hamburger-links--expanded > svg {
    transform: rotate(405deg);
    transition: transform .5s;
}

.hamburger-links > .section-wrapper {
    width: 100%;
}

@media (max-width: 500px) {
    .hamburger-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}