.HamburgerLinks {
    display: none;
}

.HamburgerLinks > svg {
    transform: rotate(45deg);
    transition: transform .5s;
}

.expandedMenu > svg {
    transform: rotate(405deg);
    transition: transform .5s;
}

.HamburgerLinks > .section-wrapper {
    width: 100%;
}

@media (max-width: 500px) {
    .HamburgerLinks {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}