.page-break-container {
    display: flex;
    justify-content: center;
}

.page-break {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    height: 0;
    width: 50%;
    margin: 25px auto;
}

.page-break--vertical {
    height: 75%;
    width: 0;
    margin: auto 25px;
}
