.col-card {
	box-shadow: 0px 0px 3px 0px lightslategrey;
	transition: box-shadow 300ms ease-in-out;
	margin: 5px;
	padding: 5px;
}

.col-card--clickable {
	cursor: pointer;
}

.col-card--clickable:hover {
	box-shadow: 0px 0px 5px 1px lightslategrey;
}