.page-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.page-link {
    flex: auto;
    display: flex;
    justify-content: center;
	
	.clickable {
		width: 100%;

		&:hover {
			background-color: lightgrey;
		}

		h2 {
			margin: auto;
			white-space: nowrap;
			text-align: center;
		}
	}
}

@media (max-width: 500px) {
    .page-links {
        flex-direction: column;
    }

    .page-link {
        width: 100%;
	
		& > a {
			flex: 1;
		}
    }
}