.page-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.page-link {
    margin: auto;
    display: flex;
    justify-content: center;
}

.page-link h2 {
    margin: auto;
    white-space: nowrap;
    text-align: center;
}

.page-link--active {
    display: block;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-radius: 10px;
}

@media (max-width: 500px) {
    .page-links {
        flex-direction: column;
    }

    .page-link {
        width: 100%;
    }

    .page-link > a {
        flex: 1;
    }
}